<div id="heading">
  <h1>Programs in Mindanao</h1>
</div>

<div class="col-md-6">
  <% if @results.empty? %>
    <h4>Sorry, there were no results for your query.</h4>
  <% end %>

  <% @programs.each do |program| %>
    <div class="card">
      <div class="card-block">
        <%= link_to program_path(program) do %>
          <h2 class="card-title"> <%= program.name %></h2>
        <% end %>
        <h6 class="card-subtitle"> <%= program.main_office %></h6>
        <p class="card-text"><%= program.area_of_work %></p>
      </div>
    </div>
  <% end %>

  <% if @projects.present? %>
    <h2> Relevant Projects: </h2>
    <% @projects.each do |project| %>
      <div class="card">
        <div class="card-block">
          <%= link_to program_project_path(project.program, project) do %>
            <h3 class="card-title"> <%= project.name %></h3>
          <% end %>
          <h6 class="card-subtitle"> <%= project.main_office %></h6>
          <p class="card-text"> Overarching Program: <%= project.program.name %> </p>
          <p class="card-text"> <%= project.area_of_work %> </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @users.present? %>
    <h2> Users: </h2>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <h3> <%= user.fullname %></h3>
      <% end %>
      <p> Program: <%= user.program.name %> </p>
      <p> Organisation: <%= user.program.organisation %> </p>
      <p> Expertise: <%= user.expertise %></p>
    <% end %>
  <% end %>

  <%= link_to 'add your program', new_program_path, class: "btn btn-default btn-override", style: "margin: 1rem 4rem;"%>
</div>

<%= render "shared/map", :markers => @hash %>

