<%= form_tag(programs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Programs" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<h1>Programs in Mindanao</h1>

<% @programs.each do |program| %>

  <%= link_to program_path(program) do %>
    <h2> <%= program.name %></h2>
  <% end %>
  <p> <%= program.main_office %></p>

<% end %>

<%= link_to 'add your program', new_program_path %>

<div id="map" style="width: 50%; height: 400px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var mapOptions = {
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      };
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: mapOptions,
        internal: { id:
        'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(16);
        }
        }
      );
    });
  <% end %>
<% end %>
