<div id="heading">
  <h1>Program Details: <%= @program.name %></h1>
</div>

<div class="col-md-6">
  <%= image_tag("home2-512.png", :alt => "image", :width => 20, :height => 20, :style => "float: left; margin:0 .5rem;")%>
  <p> <%= @program.main_office %></p>

  <%= render "projects/index" %>
  <%= render "users/index" %>

  <!-- link navigation -->
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to programs_path do %><button type="button" class="btn btn-default btn-override">all programs</button><% end %>
    <%= link_to edit_program_path do %><button type="button" class="btn btn-default btn-override">edit</button><% end %>
    <%= link_to new_program_project_path(program_id: @program.id) do %><button type="button" class="btn btn-default btn-override">add project</button><% end %>
  </div>

</div>

<%= render "shared/map", :markers => @projects_hash %>
