<div id="heading">
  <h1><%= @project.name %></h1>
  <h3>A project of <%= @program.name %> </h3>
</div>

<div class="col-md-6">
  <p><b>Area of work: </b><%= @project.area_of_work %></p>
  <p><b>Organisation: </b><%= @project.program.organisation %></p>

  <%= link_to "Projects Overview #{@project.program.name}", program_path(@project.program) %> |
  <%= link_to "edit", edit_program_project_path(@program, @project) %>
</div>

<%= render "shared/map", :markers => @project_hash %>
