<div id="heading">
  <h1><%= @project.name %></h1>
  <h3>A project of <%= @program.name %> </h3>
</div>

<div class="col-md-6">
  <p><b>Area of work: </b><%= @project.area_of_work %></p>
  <p><b>Organisation: </b><%= @project.program.organisation %></p>


    <!-- link navigation -->
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to program_path(@project.program) do %><button type="button" class="btn btn-default btn-override">projects overview <%= @project.program.name %></button><% end %>
    <%= link_to edit_program_project_path(@program, @project) do %><button type="button" class="btn btn-default btn-override">edit</button><% end %>
    <%= link_to programs_path do %><button type="button" class="btn btn-default btn-override">all programs</button><% end %>
  </div>
</div>

<%= render "shared/map", :markers => @project_hash %>
